* {margin:0;padding:0;border:0}
body{background:#eee}
.example{position:relative;background:#FFF;width:650px;height:200px;font-size:80%;border:1px #000 solid;margin:20px auto;padding:30px;-moz-border-radius:3px;-webkit-border-radius:3px}
.small_player {float:left;margin-right:100px}
.code {float:left}
